SynapseDataFactory-dr7gj/PartialArmTemplates/ArmTemplate_9_3_2021_10_56_41.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "SynapseDataFactory-dr7gj"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SynapseDataLake_NYCTaxiData_Binary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "synapsedatalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Lab2"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "nyctaxidata-raw"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lab 2 - Transform NYC Taxi Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Taxi Data Files",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "MDWResources_NYCTaxiData_Binary",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SynapseDataLake_NYCTaxiData_Binary",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy Taxi Location Lookup",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table NYC.TaxiLocationLookup",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "synapsedatalake",
									"type": "LinkedServiceReference"
								},
								"path": "polybase"
							}
						},
						"inputs": [
							{
								"referenceName": "NYCDataSets_NYCTaxiLocationLookup",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SynapseDW_NYCTaxiLocationLookup",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Transform NYC Taxi Data",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy Taxi Data Files",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy Taxi Location Lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "TransformNYCTaxiData",
								"type": "DataFlowReference"
							},
							"staging": {
								"linkedService": {
									"referenceName": "synapsedatalake",
									"type": "LinkedServiceReference"
								},
								"folderPath": "polybase"
							},
							"integrationRuntime": {
								"referenceName": "MappingDataFlowsIR",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SynapseDataLake_NYCTaxiData_Binary')]"
			]
		}
	]
}